@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Signika:wght@300..700&display=swap');      

*{
    font-family: "Public Sans", serif;
    padding: 0;
    
}
html{
    scroll-behavior: smooth;/*Dezlisa de una manera suave al ahcer click en los menus*/
}

.menu{
    background: #02212D;
    position: fixed;/*fijo el menu*/
    width: 100%;/*ocupa el ancho de la ventana*/
    top: 0;/*0 pixeles de distancia lo coloca en la parte superior*/
    left: 0;/*0 pixeles de distancia lo coloca en la parte izquierda*/
    z-index: 99;/*sobre pone el menu sobre los demas elementos*/
}

.menu header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 20px;

}

.menu header .logo a{
    font-size:46px;/*tamaño de la letra*/
    color: white;
}

.menu header ul{
    display: flex;
    list-style: none;/*quito los puntos de la lista*/
}

.menu header nav ul li a{
    text-align: none;
    color: white;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;

}

.menu   header nav ul li a:hover{
    color: #598392;
}

