@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Signika:wght@300..700&display=swap');      
*{
    font-family: "Public Sans", serif;
    padding: 0;
}
body::-webkit-scrollbar {
    display: none;
  }

html{
    scroll-behavior: smooth;
}

.menu{
    background: #02212D;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.menu header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 20px;

}

.menu header .logo {
    font-size:46px;
    color: white;
}

.menu header ul{
    display: flex;
    list-style: none;
}

.menu header nav ul li a{
    color: white;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;

}

.menu   header nav ul li a:hover{
    color: #598392;
}

.contenedor_inicio {
    display: flex;
    align-items: center;
    gap: 3rem;

    padding-left: 20%;

    margin-block: 16rem 15rem;
}



/*pie de pagina*/
footer {
    background-color: #02212D;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    margin-inline: -1rem; 
    margin-bottom: -1rem;
  }
  

  footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
  }
  
  footer a:hover {
    color: #00aced;
  }

  footer div {
    margin-top: 10px;
  }






  /*inicio presentacion*/
  .contenedor_inicio .presentacion{
    width: 30rem;
    text-align: center;
        span{
            font-size: 3.5rem;
            font-weight:500; 
        
        }

        .sub{
            font-size: 1.5rem;
        }

        .descripcion{
  
            font-size: 1rem;
        }

    }

    

/*conocimientos*/
    .borde{
        width: 100%;
        padding-bottom: 10rem;

        .skils_titulo{
            background-color: rgb(243, 243, 243);
            color:black;
            font-weight: 600;
            text-align: center;
            font-size: 2rem;
            padding-block: 1rem;
            width: 100%;
            padding-right: 1rem;
            margin-left: -0.5rem;
            margin-bottom: 11rem;
            
        }

        .skils{
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 7rem;
                margin-block: 3rem 5rem;
                margin-inline: 2rem;


            }
            
            img:hover{
                transform: scale(1.1);
                transition: 0.3s ease-in-out;
             
            }
        }

        .skils .java:hover {
            .borde:hover{
                background-color: #02212D;
            }
        }

    }  

/*CONTENIDO DE EXP*/
    .contenedor-exp{
        background-color: rgb(243, 243, 243);
        margin-block: 10rem;
        margin-inline: -0.5rem -0.5rem;
        padding-top: 5rem;
        padding-left: 13%;
        padding-bottom: 10rem;
        
        .titulo{
            font-size: 3rem;
            font-weight: 600;
        }

        .bloque-exp{
            display: flex;
            gap: 11rem;
            margin-top: 7rem;

            .fecha{
                font-size: 1.7rem;
                margin-inline: 5rem 1rem;
                opacity: 0.8;

            }

            .experiencia{
                width: 60rem;


                .proyecto{
                    font-size: 1.4rem;
                    font-weight: 600;
                }

                
            }
            
        }

        .titulo:hover{
            transition-duration: 0.5s;
            color: #00aced;
            text-shadow: 0 4px 7px rgba(0, 0, 0, 0.226);
            }
        .proyecto:hover{
            transform: translateY(-3px);
            transition-duration: 0.5s;
            color: #00aced;
            text-shadow: 0 4px 10px rgba(0, 0, 0, 0.226);
        }
    }
