@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Kanit&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Arimo';
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;/*Dezlisa de una manera suave al ahcer click en los menus*/
}

.menu{
    background: #124559;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}